<form #alumnoForm="ngForm" class="border rounded-3 p-3 border-5" id="formulario" (ngSubmit)="insertarAlumno()">
  <h3 style="text-align: center">FORMULARIOS</h3>
  <fieldset class="border rounded-3 p-3 border-5 mb-5">
    <legend class="float-none w-auto px-3 fw-bold text-dark">
      Alumno
    </legend>

    <div class="mb-3">
      <label for="nombre" class="form-label fw-bold">Nombre</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="alumno.nombre" required/>
    </div>

    <div class="mb-3">
      <label for="telefono" class="form-label fw-bold">Telefono</label>
      <input type="text" id="telefono" name="telefono" [(ngModel)]="alumno.telefono" required/>
    </div>

    <button type="submit"  id="botonInsertarAlumno" name="botonInsertarAlumno">Insertar Alumno</button>

  </fieldset>

  <fieldset class="border rounded-3 p-3 border-5 mb-5">
    <legend class="float-none w-auto px-3 fw-bold text-dark">
      Profesor
    </legend>

    <div class="mb-3">
      <label for="nombreProfesor" class="form-label fw-bold">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombreProfesor"

        name="nombreProfesor"
      />
    </div>

    <div class="mb-3">
      <label for="telefonoProfesor" class="form-label fw-bold">Apellido</label>
      <input
        type="text"
        class="form-control"
        id="telefonoProfesor"

        name="telefonoProfesor"
      />
    </div>

    <button type="submit" id="botonInsertarProfesor" name="botonInsertarProfesor">Insertar</button>

  </fieldset>

  <fieldset class="border rounded-3 p-3 border-5 mb-5">
    <legend class="float-none w-auto px-3 fw-bold text-dark">
      Curso
    </legend>

    <div class="mb-3">
      <label for="nombreCurso" class="form-label fw-bold">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombreCurso"

        name="nombreCurso"
      />
    </div>

    <div class="mb-3">
      <label for="codigoCurso" class="form-label fw-bold">Código</label>
      <input
        type="text"
        class="form-control"
        id="codigoCurso"

        name="codigoCurso"
      />
    </div>

    <div class="mb-3">
      <label for="duracionCurso" class="form-label fw-bold">Duracion</label>
      <input
        type="text"
        class="form-control"
        id="duracionCurso"
        name="duracionCurso"

      />
    </div>

    <div class="mb-3">
      <label for="cuotaCurso" class="form-label fw-bold">Cuota</label>
      <input
        type="text"
        class="form-control"
        id="cuotaCurso"
        name="cuotaCurso"

      />
    </div>

    <button type="submit" id="botonInsertarCurso" name="botonInsertarCurso">Insertar</button>

  </fieldset>

  </form>
