<div id="divEnrutamiento" class="divContenido">
    <div id="enrutamientoDefinicion" class="container">
        <h1>ENRUTAMIENTO EN ANGULAR</h1>
        <br>
        <p style="text-align: justify;">
            <strong>Definición:</strong><br>
            El enrutamiento en Angular permite la navegación entre diferentes vistas o componentes sin recargar la
            página.
            Se maneja a través del módulo <b>RouterModule</b> y se configura en un arreglo de rutas.
        </p>
    </div>
</div>