<footer class="text-center py-5" style="background-color: #000000; color: #ffffff;">
  <div class="container">
    <p class="mb-4">© 2025 Aprende Angular. Todos los derechos reservados.</p>

    <!-- Información de la página -->
    <p>Sitio web diseñado para enseñar los conceptos fundamentales de Angular y proporcionar ejemplos prácticos
      que faciliten su aprendizaje y aplicación en proyectos reales.</p>

    <!-- Autores -->
    <p class="mt-4" >
      <span style="margin-right: 20px;">Manuel León Fernández</span>
      <span style="margin-right: 20px;">Sandra Moriana Herrera</span>
      <span>MCarmen Ruiz Sánchez</span>
    </p>

    <!-- Licencia -->
    <p class="mt-3" style="font-size: 0.9em;">
      Este sitio web y su contenido están protegidos por derechos de autor. La reproducción, distribución o
      transmisión de cualquier contenido está estrictamente prohibida sin el consentimiento expreso de sus autores.
    </p>
  </div>
</footer>
