<div id="divComponentes" class="divContenido">
  <div id="compDefinicion" class="container">
    <h1>COMPONENTES</h1>
    <p style="text-align: justify">
      <strong>Definición:</strong><br />
      Un componente es un bloque o módulo que encapsula una determinada
      funcionalidad de la interfaz de usuario. Esto permite que se pueda
      reutilizar en distintas parte de la aplicación sin tener que volver a
      codificar.
    </p>

    <span>Cada componente tiene tres elementos clave:
      <ul>
        <li>
          <strong>Clase (TypeScript)</strong>: Elemento que contiene la lógica
          del componente
        </li>
        <li>
          <strong>Plantilla (HTML)</strong>: Elemento que define la estructura
          y el diseño visual del componente
        </li>
        <li>
          <strong>Estilo (CSS)</strong>: Elemento que aporta el estilo visual
          del componente
        </li>
      </ul>
    </span>
  </div>

  <br>

  <div id="compTareas" class="container">
    <h2>EJEMPLO: Lista de tareas</h2>
    <p style="text-align: justify">
      En este ejemplo, se ha creado un componente llamado "tareas" que
      resuelve en sí mismo la funcionalidad de añadir tareas a una lista,
      mostrando dichas tareas en una tabla y asignándole un índice según el
      orden en el que se han ido añadiendo.
    </p>

    <span><i>(Este componente se reutiliza en la vista de Directivas, al explicar
        la directiva ngFor)</i></span><br />
    <br />

    <app-tareas></app-tareas>
  </div>

  <br><br>

  <div id="compIconos" class="container">
    <h2>EJEMPLO: Iconos de redes sociales</h2>
    <p style="text-align: justify">
      Hemos creado un ejemplo en el cual se crea un componente de nombre iconos
      que a traves de los iconos que aparecen podemos clicar y que nos lleve a
      traves de un enlace a los sitios web que hemos agregado.
    </p>
    <app-iconos></app-iconos>
  </div>

  <br><br>

  <div id="compFooter" class="container">
    <h2>EJEMPLO: Footer</h2>
    <p style="text-align: justify">
      En este ejemplo hemos creado un componente de nombre footer, que se
      utilizará en nuestra página para mostrar un footer con información sobre
      el proyecto y sus autores.
    </p>
  </div>
</div>