<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" (click)="fMostrarTitulo()">Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul id="menuPrincipal" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" id="menuDirectivas" (click)="fMostrarDirectivas()">Directivas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="menuComponentes" (click)="fMostrarComponentes()">Componentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="menuEventos" (click)="fMostrarEventos()">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="menuFormulario" (click)="fMostrarFormularios()">Formularios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="menuEnrutamiento" (click)="fMostrarEnrutamiento()">Enrutamiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="menuDatos" (click)="fMostrarAccesoDatos()">Acceso a datos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-container *ngIf="mostrarTitulo">
  <div class="cover-container">
    <h1 class="cover-title">PROYECTO ANGULAR SMM</h1>
  </div>
  <app-footer></app-footer>
</ng-container>

<ng-container *ngIf="mostrarDirectivas">
  <div id="directivas" class="divContenido">
    <app-directivas></app-directivas>
  </div>
  <app-footer></app-footer>
</ng-container>

<ng-container *ngIf="mostrarComponentes">
  <div id="componentes" class="divContenido">
    <app-componentes></app-componentes>
  </div>
  <app-footer></app-footer>
</ng-container>

<ng-container *ngIf="mostrarEventos">
  <div id="eventos" class="divContenido">
    <app-eventos></app-eventos>

    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</ng-container>

<ng-container *ngIf="mostrarFormularios">
  <div id="formulario" class="divContenido">
    <app-formulario></app-formulario>
  </div>
</ng-container>

<ng-container *ngIf="mostrarEnrutamiento">
  <div id="enrutamiento" class="divContenido">
    <app-enrutamiento></app-enrutamiento>

    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</ng-container>

<ng-container *ngIf="mostrarAccesoDatos">
  <div id="accesoDatos" class="divContenido">
    <app-acceso-datos></app-acceso-datos>


    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</ng-container>