<div class="iconos-container d-flex justify-content-center gap-3">
    <!-- Escudo e iconos de las redes sociales que he agregado -->
    <a href="{{ institutoUrl }}" target="_blank" title="Visita nuestro Instituto">
      <img src="icons/IESAlmudeine.png" alt="Escudo del Instituto" class="escudo" />
    </a>
  <!-- Las urls están definidas en icono.components.ts para así llamarlas aquí.-->
    <a href="{{gitHubManUrl}}" target="_blank" title="GitHub-Manuel León Fernández">
      <img src="icons/GitHub.jpeg" alt="Icono GitHub" class="icono"/>
    </a>
    <a href="{{gitHubSanUrl}}" target="_blank" title="GitHub-Sandra Moriana Herrera">
        <img src="icons/GitHub.jpeg" alt="Icono GitHub" class="icono"/>
    </a>
    <a href="{{gitHubMarUrl}}" target="_blank" title="GitHub-Mª Carmen Ruíz Sanchez">
        <img src="icons/GitHub.jpeg" alt="Icono GitHub" class="icono"/>
    </a>
  </div>
