<div id="divAccesoDatos" class="divContenido">
  <div id="accesoDatosDefinicion" class="container">
    <h1>ACCESO A DATOS EN ANGULAR</h1>
    <br />
    <p style="text-align: justify">
      <strong>Definición:</strong><br />
      El acceso a datos en Angular se refiere a la manera en que una aplicación
      obtiene, envía y manipula información desde y hacia una fuente de datos,
      como una <strong> API REST, una base de datos o un archivo local</strong>. Se realiza
      principalmente a través de servicios y el uso de &quot;HTTPClient&quot; para interactuar
      con servidores.
    </p>
  </div>
  <div>
    <app-formularios-insert></app-formularios-insert>
  </div>
</div>
