<div id="formulariosDelete" class="container">
    <h2>OPERACIONES DELETE</h2>
    <p>A continuación se muestran distintos formularios para eliminar alumnos, profesores y/o cursos:</p>
    
    <div id="divDeleteAlumno">
        <form (ngSubmit)="eliminarAlumno()">
            <fieldset class="border rounded-3 p-3 border-5 mb-5">
                <legend class="float-none w-auto px-3 fw-bold text-dark">
                    Eliminar alumno
                </legend>

                <div class="form-group">
                    <label for="selectAlumno">Seleccionar alumno:</label>
                    <select id="selectAlumno" [(ngModel)]="idAlumnoSelect" name="idAlumno" class="form-control"
                        required>
                        <option value="0" disabled>Selecciona un alumno</option>
                        <option *ngFor="let alumno of alumnos" [value]="alumno.idAlumno">{{ alumno.nombre }}</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-danger" [disabled]="!idAlumnoSelect">Eliminar</button>
            </fieldset>
        </form>
    </div>
    <div id="divDeleteProfesor">
        <form (ngSubmit)="eliminarProfesor()">
            <fieldset class="border rounded-3 p-3 border-5 mb-5">
                <legend class="float-none w-auto px-3 fw-bold text-dark">
                    Eliminar profesor
                </legend>

                <div class="form-group">
                    <label for="selectProfesor">Seleccionar profesor:</label>
                    <select id="selectProfesor" [(ngModel)]="idProfesorSelect" name="idProfesor" class="form-control"
                        required>
                        <option value="0" disabled>Selecciona un profesor</option>
                        <option *ngFor="let prof of profesores" [value]="prof.idProfesor">{{ prof.nombre }}</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-danger" [disabled]="!idProfesorSelect">Eliminar</button>
            </fieldset>
        </form>
    </div>
    <div id="divDeleteCurso">
        <form (ngSubmit)="eliminarCurso()">
            <fieldset class="border rounded-3 p-3 border-5 mb-5">
                <legend class="float-none w-auto px-3 fw-bold text-dark">
                    Eliminar curso
                </legend>

                <div class="form-group">
                    <label for="selectCurso">Seleccionar curso:</label>
                    <select id="selectCurso" [(ngModel)]="idCursoSelect" name="idCurso" class="form-control"
                        required>
                        <option value="0" disabled>Selecciona un curso</option>
                        <option *ngFor="let curso of cursos" [value]="curso.idCurso">{{ curso.nombre }}</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-danger" [disabled]="!idCursoSelect">Eliminar</button>
            </fieldset>
        </form>
    </div>
</div>