<div id="divConsultas" class="container">
  <h2>CONSULTAS</h2>
  <p>A continuación se muestra el listado de alumnos, profesores y cursos existentes en la base de datos:</p>

  <div id="listadoAlumnos">
    <h3>Listado de Alumnos</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>TELÉFONO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{alumno.idAlumno}}</td>
          <td>{{alumno.nombre}}</td>
          <td>{{alumno.telefono}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div id="listadoProfesores">
    <h3>Listado de Profesores</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>TELÉFONO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prof of profesores">
          <td>{{prof.idProfesor}}</td>
          <td>{{prof.nombre}}</td>
          <td>{{prof.telefono}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div id="listadoCursos">
    <h3>Listado de Cursos</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>CÓDIGO</th>
          <th>DURACIÓN</th>
          <th>CUOTA</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <td>{{curso.idCurso}}</td>
          <td>{{curso.nombre}}</td>
          <td>{{curso.codigo}}</td>
          <td>{{curso.duracion}}</td>
          <td>{{curso.cuota}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>