<div id="accesoDatosCreacion" class="container">
  <form #alumnoForm="ngForm" class="border rounded-3 p-3 border-5" id="formulario" (ngSubmit)="insertarAlumno()">
    <h3 style="text-align: center">FORMULARIO ALUMNO</h3>
    <fieldset class="border rounded-3 p-3 border-5 mb-5">
      <legend class="float-none w-auto px-3 fw-bold text-dark">
        Alumno
      </legend>

      <div class="mb-3">
        <label for="nombre" class="form-label fw-bold">Nombre</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="alumno.nombre" required />
      </div>

      <div class="mb-3">
        <label for="telefono" class="form-label fw-bold">Telefono</label>
        <input type="text" id="telefono" name="telefono" [(ngModel)]="alumno.telefono" required />
      </div>

      <button type="submit" id="botonInsertarAlumno" name="botonInsertarAlumno">Insertar Alumno</button>

    </fieldset>
  </form>

  <form #profesorForm="ngForm" class="border rounded-3 p-3 border-5" id="formularioProfesor"
    (ngSubmit)="insertarProfesor()">
    <h3 style="text-align: center">FORMULARIO PROFESOR</h3>
    <fieldset class="border rounded-3 p-3 border-5 mb-5">
      <legend class="float-none w-auto px-3 fw-bold text-dark">
        Profesor
      </legend>

      <div class="mb-3">
        <label for="nombreProfesor" class="form-label fw-bold">Nombre</label>
        <input type="text" class="form-control" id="nombreProfesor" name="nombreProfesor" [(ngModel)]="profesor.nombre"
          required />
      </div>

      <div class="mb-3">
        <label for="telefonoProfesor" class="form-label fw-bold">Telefono</label>
        <input type="text" class="form-control" id="telefonoProfesor" name="telefonoProfesor"
          [(ngModel)]="profesor.telefono" required />
      </div>

      <button type="submit" id="botonInsertarProfesor" name="botonInsertarProfesor">Insertar Profesor</button>

    </fieldset>
  </form>

  <form #cursoForm="ngForm" class="border rounded-3 p-3 border-5" id="formularioCurso" (ngSubmit)="insertarCurso()">
    <h3 style="text-align: center">FORMULARIO CURSO</h3>
    <fieldset class="border rounded-3 p-3 border-5 mb-5">
      <legend class="float-none w-auto px-3 fw-bold text-dark">
        Curso
      </legend>

      <div class="mb-3">
        <label for="nombreCurso" class="form-label fw-bold">Nombre</label>
        <input type="text" class="form-control" id="nombreCurso" name="nombreCurso" [(ngModel)]="curso.nombre"
          required />
      </div>

      <div class="mb-3">
        <label for="codigoCurso" class="form-label fw-bold">Código</label>
        <input type="text" class="form-control" id="codigoCurso" name="codigoCurso" [(ngModel)]="curso.codigo"
          required />
      </div>

      <div class="mb-3">
        <label for="duracionCurso" class="form-label fw-bold">Duracion</label>
        <input type="text" class="form-control" id="duracionCurso" name="duracionCurso" [(ngModel)]="curso.duracion"
          required />
      </div>

      <div class="mb-3">
        <label for="cuotaCurso" class="form-label fw-bold">Cuota</label>
        <input type="text" class="form-control" id="cuotaCurso" name="cuotaCurso" [(ngModel)]="curso.cuota" required />
      </div>

      <button type="submit" id="botonInsertarCurso" name="botonInsertarCurso">Insertar Curso</button>

    </fieldset>

  </form>
</div>