legend {
  font-family: 'Reboto', sans-serif;
  font-weight: bold;
}

fieldset {
  border-color: rgb(0, 0, 0);
  border-width: 3px;
  width: auto;
}

label {
  font-family: 'Reboto', sans-serif;
  width: 160px; /* Ancho fijo para las etiquetas */
  margin-right: 10px; /* Espacio entre la etiqueta y el control */
}

form h3 {
  font-family: 'Reboto', sans-serif;
  font-weight: bold;
}

textarea {
  font-family: 'Reboto', sans-serif;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.mb-4-5 {
  margin-bottom: 2.20rem;  /* 1.75rem es el valor intermedio entre 1.5rem (mb-4) y 2rem (mb-5) */
}

.w-60{
  width: 50%;
  margin-left: 5%;
}
