<div id="eventosDefinicion" class="container">
    <h1>EVENTOS</h1>
    <p style="text-align: justify;">
        <strong>Definición:</strong><br />
        Un evento es una acción o suceso que ocurre en el navegador y que es detonado por el usuario.
        <br>
        Por ejemplo: hacer clic en un botón, mover el puntero del ratón, presionar una tecla...
        <br>
        Angular permite capturar estos eventos y ejecutar funciones en respuesta, mediante la técnica <q>"event binding"</q>
    </p>
    <p style="text-align: justify;">
        <strong>Event Binding:</strong><br />
        Consiste en la vinculación de eventos: Asocia eventos del DOM con métodos definidos en el componente. Se realiza
        con la sintaxis básica:
        <br>
        <code>&lt;elementoHTML (evento)="método($event")>&lt;/elementoHTML></code>
    </p>

</div>