<div id="divAccesoDatos" class="divContenido">
  <div id="accesoDatosDefinicion" class="container">
    <h1>ACCESO A DATOS EN ANGULAR</h1>
    <br />
    <p style="text-align: justify">
      <strong>Definición:</strong><br />
      El acceso a datos en Angular se refiere a la manera en que una aplicación
      obtiene, envía y manipula información desde y hacia una fuente de datos,
      como una <strong> API REST, una base de datos o un archivo local</strong>. Se realiza
      principalmente a través de servicios y el uso de &quot;HTTPClient&quot; para interactuar
      con servidores.
    </p>
  </div>
  <br>
  <div>
    <div id="componentesCRUD" class="container">
      <app-consultas [actualizarTablas]="actualizarDatos"></app-consultas>
      <!-- La variable "actualizarTablas" del componente consultas está enlazada al valor de "actualizarDatos" de este componente -->
      <br><br>
      <app-formularios-insert></app-formularios-insert>
      <br><br>
      <app-formularios-update></app-formularios-update>
      
      <br><br>
      <app-formularios-delete (operacionDelete)="actualizarConsultas()"></app-formularios-delete>
      <!-- Cuando se emite el evento "operacionDelete", se activa el método "actualizarConsultas()" -->
    </div>
  </div>